.App {
  text-align: center;
  /* background-color: #1d2e50; */
  /* background: linear-gradient(.50turn,#2a3a5a,10% ,#152036) ; */
  background: linear-gradient(.50turn,#1f2c45,10% ,#111b2e) ;
}

@media (prefers-reduced-motion) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .hidden{
    opacity: 0;
    transition: all 4s;
    /* animation:  */
  }
}
.white{
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.show{
  animation: showw 3s;
}

.logo:hover{
  cursor: pointer;
}
.header{
  top:0;
  width: 100vw;
  position: fixed;
  background-color: #171a2210;
  z-index: 10;
  height: 60px;
  display: flex;
}
.inner-header{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding-left: 8%;
  padding-right: 8%;
}
.header ul {
  display: flex;
  flex: 0.4;
  align-items: center;
  list-style: none;
  justify-content: space-evenly;
}
.header ul li a{
  text-decoration: none;
  color: #fff;
  list-style: none;
  padding-bottom: 2px;

}
.header ul li a:hover{
  transition: all 3.5s ease-in;
  border-bottom: 0.7px solid #ccc;
  cursor: pointer;
}
.landingTop{
  height:100vh;
  display:flex;
  flex:1;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background: no-repeat url('../public/bg4.svg');
  background-size: 100% 100%;
}
@media (max-width:498px) {
  .header ul {
    display: flex;
    flex: 0.6;
    justify-content: space-between; 
  }

}
.resume{
  font-weight: 500;
  background-color: #99abc609;
  border-radius: 6px;
  padding:4px;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
}
.resume:hover{
  cursor: pointer;
  background-color: #cce7f528;
  transition: all 0.8s ease-in;
} 

.sideprofile{
  position: fixed;
  border: 0.3px solid rgb(86, 91, 95);
  width: 80px;
  height: 100vh;
  box-shadow: 1px 1px 1.9px 1px rgba(138, 135, 140, 0.131);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  animation: up-side 3s;
}
.transparent{
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  flex:1;
  align-items: center;
  justify-content: center;
  width: 100%;

}
.transparent:hover{
  cursor: pointer;
  background-color: #3430301f;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h2{
  font-size: 32px;
  font-weight: 600;
  color: #fff;
}





@keyframes showw {
  from {
    /* transform: rotate(0deg); */
    opacity: 0;
  }
  to {
    /* transform: rotate(360deg); */
    opacity: 1;
  }
}
@keyframes up-side {
  from {
    transform: translateY(-100%);
    transform: translateX(-80px);

  }
  to {
    transform: translateY(0%);
    transform: translateX(0px);
  }
}
/* ////////////// */
/* ////////////// */
/* ////////////// */
/* ////////////// */
/* ////////////// */
/* ////////////// */
/* ////////////// */
/* ////////////// */
/* ////////////// */




.body {
  height: 100vh;
  z-index: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color:#171b23;
}



.myCard{
  border-radius: 10px;
    -webkit-filter: drop-shadow(0 0 20px rgba(121, 27, 27, 0.07));
    filter: drop-shadow(0 0 20px rgba(67, 71, 78, 0.133));
    background-color: #ffffff;
    padding: 30px;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #221414;

}
#viewProj{
  background-color: transparent;
  font-family: roboto, cursive;
  font-size:16px;
  padding:8px;
  min-width: 80px;
  border-radius: 4px;
  border:  1px solid #2e2f36c4;
  color:  #54575a;

  
}
#viewProj:hover{
  cursor:pointer;
  border: 1px solid #444a84c4;
  box-shadow: 1px 1px 1.9px 1px rgba(138, 135, 140, 0.131);
  background-color: #cce7f528;
  transition: all .9s ease-in-out;
}
.myCard:hover , .myCard:hover #viewProj{
  color: #ffffff;
}
.myCard:hover #viewProj{
  color: #ffffff;
  border:  1px solid #cecfd6c4;

}
.myCard:hover:before {
  cursor: pointer;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 120%;
  height: 120%;
  border-radius: 0;
  /* color: #43c554; */

}

.myCard:before {
  content: '';
  position: absolute;
  right: -65px;
  width: 95px;
  height: 95px;
  top: -55px;
  border-radius: 50px;
  background-color: #1d2e50;
  transition: all .3s;
  z-index: -1;
}

*, ::after, ::before {
  box-sizing: border-box;

}
::selection {
  color: red;
  background: yellow;
}





/*  ///////////////////////////////// SKILLS MODAL PAGE ////////////////////////////// */
/*  ///////////////////////////////// SKILLS MODAL PAGE ////////////////////////////// */
/*  ///////////////////////////////// SKILLS MODAL PAGE ////////////////////////////// */


.modal{
  width: 70%;
  height: 70%;
  background-color: #fff;
  border-radius:8px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}
.closeIconContainer{
  border-radius:40%;
  border: 0.5px solid #ccc;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  padding: 5px;

}
.closeIconContainer:hover{
  cursor:pointer;
  border: 0.6px solid #833333c4;
  color: #833333c4;
  /* box-shadow: 1px 1px 1.9px 1px rgba(75, 17, 17, 0.131); */
  background-color: #efc4ae52;
  transition: all 0.7s ease-in-out;
}
.skillGrid span{
  color: #482165;
}

/* ---------------------ABOUT ME------------------------------ */
/* ---------------------ABOUT ME------------------------------ */
/* ---------------------ABOUT ME------------------------------ */
.aboutContainer{
  /* background-color: rgb(45, 95, 116); */
  background-color: rgb(255, 255, 255);
  border: 0.4px solid #e1e3f1;
  border-radius: 6px;
  overflow: hidden;
  width: 70%;
  filter: drop-shadow(0 0 20px rgba(92, 93, 96, 0.122));

  /* min-width: none; */
}
.aboutContainerHeader{
  /* background-color: rgb(19, 58, 75); */
  background-color: rgba(239, 243, 244, 0.792);
  color:rgb(86, 91, 95);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left:15px;
  padding-right:15px;
  /* padding-top: 4px;
  padding-bottom: 4px; */
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-image: url('../public/stripe1.png');
  /* background: no-repeat url('../public/stripe1.png'); */
  object-fit: cover;

}
@keyframes fadeBG{
  from { 
    background-color:rgba(235, 237, 243, 0.859);
    filter: drop-shadow(0 0 20px rgba(65, 89, 99, 0.152));

  }
  to {
    background-color:transparent;
    filter: none;
  }
}
.aboutHeader2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  padding: 10px;
  color:rgb(86, 91, 95);
  animation: fadeBG 2s  ease-in;

}
.aboutContainerBody{
  color:rgb(86, 91, 95);
  padding:15px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.aboutToolItem{
  color:rgb(244, 247, 249);
  background-color: rgba(55, 79, 88, 0.74);
  filter: drop-shadow(0 0 20px rgba(102, 103, 105, 0.092));
  border-radius: 20px;
  padding-left:10px;
  padding-right:10px;
  margin: 6px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
}
.dropdown{
  display: flex;
  margin: 15px;
  height: 50px;
  width:  50px;
  border-radius: 50%;
  align-items: center;
  align-content: center;
  justify-content: center;
  border: 0.2px solid #393f697d;

}
.dropdown:hover{
  cursor:pointer;
  background-color: #fff;
  border: 0.2px solid #393f697d;
}
.toolslist{
  width: 90%;
}
.company{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.h4Description{
  font-family: 'Roboto', sans-serif;
  font-size:17px;
  font-weight: 400;
  color: #3c3b3b;
  text-align:left;
  padding-left:15px;
  padding-right:15px;
   line-height:30px;
}
.description{
  text-align: left;
}
#myDescription{
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

@media (max-width:685px) {
  .proj{
    display: none;
  }
  .landingTop{
    height: 100vh;
  }
  .body{
    height: 180vh;
    overflow: scroll;
  }
  #myDescription,.description{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
  }
}
@media (max-width:750px) {
  .aboutContainer{
    width: 95%;

  }
}
@keyframes slidetext{
  from { 
    transform: translateX(-100%);
  }
  to{
    transform: translateX(50%);

  }
}
.border{
  border-left: 0.5px solid #6a6767c9;
  /* border-right: 0.5px solid #6a6767c9; */
  width:15px;
  height:50px;
}
.wrapper {
  display: flex;
  /* flex:1; */
  justify-content: center;
  align-items: center;
  width: 50%;
  /* height: 80px; */
  /* border-bottom: 0.1px solid #dcd9d999;
  border-top: 0.1px solid #dcd9d999; */
  overflow: hidden;
  display: inline-block;
  
}
.qaz{
  list-style: none;
  width: 200%;
  display :flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #ccc; */
  animation : slidetext 8s linear infinite;
}
.qazItem{
  list-style: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size:28px;
  font-weight: 600;
  margin:5px 15px;
}
/* /// */
@keyframes move3 {
  0% {
    top: -30px;
    opacity: 1;
}
20% {
    top: -30px;
}
40% {
    top: -110px;
}
60% {
    top: -110px;
}
80% {
  opacity: 1;
    top: -190px;
}
99% {
  opacity: 1;
}
100% {
  opacity: 0;
    top: -190px;
}

}


.animated-text > li {
  color: #d6e4f3;
  padding: 0;
  font-size: 40px;
  list-style: none;
  /* display: list-item; */
  text-align: -webkit-match-parent;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.animated-wrapper {
  display: flex;
  flex:1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  border-bottom: 0.1px solid #dcd9d999;
  border-top: 0.1px solid #dcd9d999;
  overflow: hidden;
  display: inline-block;
  
}
h5{
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  color: #222121;
}
 .heading {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 35px;
  line-height: 100%;
  color: #FFFFFF;
  margin: 0 0 32px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  padding-bottom: 2px;

}

h1 .animated-wrapper .animated-text {
    color: #fff;
    position: relative;
    white-space: nowrap;
    -webkit-animation: move3 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 2s;
    top: -30px;
    left: 0;
    list-style:none;
    list-style-type: none;
    padding: 0;
}
.spanText{
    font-weight: 800;
    background: -webkit-linear-gradient(55deg,#223036e6, #142d35d3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.button{
  border: 0.6px solid #171823c4;
  font-size:19px;
  padding:2px 8px;
  min-width: 80px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 130px;
  margin: 5px;
  text-decoration: none;
}
.darkbutton{
  background-color: #000;
  color: #fff;
}
.lightbutton{
  background-color: #f6f6f6b7;
  color: #1d252f;
}
.button:hover{
  cursor:pointer;
  border: 0.6px solid #372d40d2;
  box-shadow: 1px 1px 1.9px 1px rgba(106, 99, 110, 0.172);
  /* background-color: #1c222585; */
  transition: all 0.7s ease-in-out;
}
.buttoncontainer{
  display:inline-flex;
  padding: 5px;
}