.App {
  text-align: center;
  /* background-color: #1d2e50; */
  /* background: linear-gradient(.50turn,#2a3a5a,10% ,#152036) ; */
  background: linear-gradient(.50turn,#1f2c45,10% ,#111b2e) ;
}

@media (prefers-reduced-motion) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .hidden{
    opacity: 0;
    transition: all 4s;
    /* animation:  */
  }
}
.white{
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.show{
  animation: showw 3s;
}
.logo{
}
.logo:hover{
  cursor: pointer;
}
.header{
  top:0;
  width: 100vw;
  position: fixed;
  background-color: #171a2210;
  z-index: 10;
  height: 60px;
  display: flex;
}
.inner-header{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding-left: 8%;
  padding-right: 8%;
}
.header ul {
  display: flex;
  flex: 0.4;
  align-items: center;
  list-style: none;
  justify-content: space-evenly;
}
.header ul li a{
  text-decoration: none;
  color: #fff;
  list-style: none;
  padding-bottom: 2px;

}
.header ul li a:hover{
  transition: all 3.5s ease-in;
  border-bottom: 0.7px solid #ccc;
  cursor: pointer;
}
.bottomImg{
  position:absolute;
   left: 0; 
   bottom:0;
}
.landingTop{
  height:100vh;
  display:flex;
  flex:1;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background: no-repeat url('../public/bg4.svg');
  background-size: 100% 100%;
}
@media (max-width:498px) {
  .header ul {
    display: flex;
    flex: 0.6;
    justify-content: space-between; 
  }

}
.resume{
  font-family: "Helvetica Neue",Helvetica,Arial;
  font-weight: 500;
  background-color: #99abc609;
  border-radius: 5px;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
}
.iconButton:hover{
  /* border: 0; */
  cursor: pointer;
  background-color: #cce7f528;
  transition: all 0.8s;
} 
.iconButton{
  border: 1px solid rgba(50, 48, 50, 0.131);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  color: white;
}
/* .iconButton a{

} */
.sideprofile{
  position: fixed;
  border: 0.3px solid rgb(86, 91, 95);
  width: 80px;
  height: 100vh;
  box-shadow: 1px 1px 1.9px 1px rgba(138, 135, 140, 0.131);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  animation: up-side 3s;
}
.transparent{
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  flex:1;
  align-items: center;
  justify-content: center;
  width: 100%;

}
.transparent:hover{
  cursor: pointer;
  background-color: #3430301f;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h2{
  font-size: 32px;
  font-weight: 600;
  color: #fff;
}





@keyframes showw {
  from {
    /* transform: rotate(0deg); */
    opacity: 0;
  }
  to {
    /* transform: rotate(360deg); */
    opacity: 1;
  }
}
@keyframes up-side {
  from {
    transform: translateY(-100%);
    transform: translateX(-80px);

  }
  to {
    transform: translateY(0%);
    transform: translateX(0px);
  }
}
/* ////////////// */
/* ////////////// */
/* ////////////// */
/* ////////////// */
/* ////////////// */
/* ////////////// */
/* ////////////// */
/* ////////////// */
/* ////////////// */




.body {
  height: 100vh;
  /* width: 100vw; */
  z-index: 0;
  /* margin: 10px; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color:#171b23;
}



.myCard{
  border-radius: 10px;
    -webkit-filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.07));
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.07));
    background-color: #ffffff;
    padding: 30px;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 1px 1px 1.8px 1.2px rgba(44, 44, 46, 0.2), 
    1px 1px 1.7px 1.3px rgba(200, 200, 224, 0.05), 1px 1px 1.9px 1px rgba(49, 47, 49, 0.205);
    /* width: 250px;
    height: 250px; */
}
.myCard:hover:before {
  color: #fff;

}
.myCard:hover:before {
  cursor: pointer;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.myCard:before {
  content: '';
  position: absolute;
  right: -65px;
  width: 95px;
  height: 95px;
  top: -55px;
  border-radius: 50px;
  background-color: #1d2e50;
  transition: all .3s;
  z-index: -1;
}
*, ::after, ::before {
  box-sizing: border-box;
}
::selection {
  color: red;
  background: yellow;
}





/*  ///////////////////////////////// SKILLS MODAL PAGE ////////////////////////////// */
/*  ///////////////////////////////// SKILLS MODAL PAGE ////////////////////////////// */
/*  ///////////////////////////////// SKILLS MODAL PAGE ////////////////////////////// */

.modalContainer{
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: fixed;
  background-color: #0a384736;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal{
  width: 70%;
  height: 70%;
  background-color: #fff;
  border-radius:8px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}
.closeIconContainer{
  border-radius:40%;
  border: 0.5px solid #ccc;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  padding: 5px;

}
.closeIconContainer:hover{
  cursor:pointer;
  border: 0.6px solid #833333c4;
  color: #833333c4;
  /* box-shadow: 1px 1px 1.9px 1px rgba(75, 17, 17, 0.131); */
  background-color: #efc4ae52;
  transition: all 0.7s ease-in-out;
}
.skillGrid span{
  color: #482165;
}

/* ---------------------ABOUT ME------------------------------ */
/* ---------------------ABOUT ME------------------------------ */
/* ---------------------ABOUT ME------------------------------ */
.aboutContainer{
  background-color: rgb(45, 95, 116);
  border: 0.4px solid #101b62;
  border-radius: 6px;
  overflow: hidden;
  width: 70%;
  /* min-width: none; */
}
.aboutContainerHeader{
  background-color: rgb(19, 58, 75);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left:15px;
  padding-right:15px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.aboutHeader2{
  display: flex;
  flex-direction: row;
  margin-left: 8px;
  margin-right: 8px;

}
.aboutContainerBody{
  padding:15px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.aboutToolItem{
  background-color: rgb(43, 68, 78);
  border: 0.4px solid #101b62;
  border-radius: 20px;
  padding-left:10px;
  padding-right:10px;
  margin: 6px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
}
.toolslist{
  width: 90%;
}


@media (max-width:685px) {
  .proj{
    display: none;
  }
  .landingTop{
    height: 100vh;
  }
  .body{
    height: 180vh;
    overflow: scroll;
  }
 
}
@media (max-width:750px) {
  .aboutContainer{
    width: 95%;

  }
}
